<center>
    <h1> Know your city weather </h1>

    <form method="post" action="">
        {% csrf_token %}
        <input type="text" placeholder="Enter city name" name="city" />
        <div class="vl"></div>
        <div class="box"></div>
        <button type="submit">Search</button>
    </form>
    <h1>Country code : {{country_code}}</h1>
    <h2>coordinate: {{coordinate}}</h2>
    <h2>temp: {{temp}}</h2>
    <h2>Pressure: {{pressure}}</h2>
    <h3>humidity: {{humidity}}</h3>
</center>
<style>
    input {
        width: 20vw;
        padding: 1.3em;
        border-radius: 50px;
        font-size: 1.2em;
    }

    button {
        font-size: 1.2em;
        border-radius: 50px;
        position: absolute;
        left: 54.8%;
        top: 13%;
        border: none;
        background-color: white;
        cursor: pointer;
        filter: brightness(0.9)
    }

    button:hover {
        filter: blur(0);
        transform: ease;
    }

    .vl {
        border-left: 6px solid skyblue;
        height: 75px;
        position: absolute;
        left: 54.58%;
        top: 9.3%;
    }

    .box {
        height: 75px;
        width: 75px;
        background-color: green;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        position: absolute;
        left: 55%;
        top: 9.3%;
    }
</style>